on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write
      
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checa o repositorio
        uses: actions/checkout@v4

      - name: Configura Github Pages
        uses: actions/configure-pages@v5

      - name: Cria os arquivos para Deploy
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Publica no GitPages
        uses: actions/deploy-pages@v4
